extends layout

block content
  .container.mt-5
    .row
      .col-md-12
        h1.display-4.text-center Proyecto Blockchain
        p.lead.text-center
          | Este proyecto es una demostración de un blockchain del proyecto final de criptología.
        hr
    .row.mt-4
      .col-md-12
        h2 Integrantes
        ul.list-group
          li.list-group-item Dayana Silva - 20231678040
          li.list-group-item Holman Alba - 20231678018
          li.list-group-item Javier Espitia - 20231678028
    
    .row.mt-4
      .col-md-12
        p.text-center
          | Universidad Distrital Francisco José de Caldas &copy; 2024
      .col-md-12
        p.text-center
          | Este proyecto está basado en el trabajo de 
          a(href='http://andersbrownworth.com/' target='_blank') Anders Brownworth
          | . Repositorio original en 
          a(href='https://github.com/anders94/blockchain-demo/' target='_blank') GitHub.
