extends layout

block content
  .container
    h1 Proyecto Blockchain
    p
      | Este proyecto es una demostración de un blockchain del proyecto final de criptología.
    br
    h2 Integrantes
    ul
      li Dayana Silva - 20231678040
      li Holman Alba - 20231678018
      li Javier Espitia - 20231678028
    br
    h3 Universidad Distrital Francisco José de Caldas
    br
    h3 Año
    p 2024
    br
    p.pull-right
      | Este proyecto está basado en el trabajo de 
      a(href='http://andersbrownworth.com/') Anders Brownworth
      | . Repositorio original en 
      a(href='https://github.com/anders94/blockchain-demo/') GitHub.
